* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

/* Header */
header {
    background-color: rgb(255, 222, 161);
    padding: 17px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section img::selection {
    background-color: whitesmoke;
}

.logo-section {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.logo-section:hover {
    transform: scale(1.01);
}

#paw {
    width: 60px;
    margin-right: 10px;
}

#paw2 {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

nav ul li:hover, .dropdown-content a:hover {
    transform: scale(1.01);
    align-items: center;
}

nav ul li a {
    font-size: 17px;
    color: #b73100 ;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a::selection, .dropdown-link img::selection, .dropdown::selection {
    background-color: #3d3d3d;
    color: whitesmoke;
}

nav ul li a:hover {
    color: #392C6B;
}

/* Hero section */
.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8B0000;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Featured pets section */
.featured-pets {
    padding: 50px;
    text-align: center;
}

.pet-care {
    padding: 50px;
    text-align: center;
}

.parallel-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.featured-pets {
    text-align: center;
}

.featured-pets h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pet-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.featured-pets img {
    max-width: 300px;
    margin: 10px;
}

.featured-pets button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    text-align: center;
    padding: 10px 20px;
    background-color: #ff6347;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #393939;
    color: #D9D9D9;
    padding: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    width: max-contents;
    align-self: center;
    gap: 60px;
}

.footer-links ul a::selection, .footer-links p::selection, .contact p::selection, .contact ul li::selection, .credits p::selection {
    background-color: whitesmoke;
    color: #555;
}

.footer-links p, .contact p {
    font-size: 18px;
    color: white;
}

.footer-links ul, .contact ul {
    font-weight: normal;
    list-style: none;
    font-size: 15px;
}

.footer-links ul:visited {
    color: #D9D9D9;
}

.footer-links ul a:hover {
    color: white;
} 

.footer-links {
    width: max-content;
}

.link {
    color: #D9D9D9;
    text-decoration: none;
}

#ftline {
    color: #F9F7F3;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 10px;
}

.credits {
    margin-top: 10px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
}

/*About*/
.about-section h1 {
    font-size: 32px;
    color: #8B0000;
    margin-bottom: 20px;
}

.about-section h2 {
    font-size: 24px;
    color: #8B0000;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-section p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.about-section a {
    color: #333;
}

.about-section h1::selection, .about-section h2::selection, .about-section p::selection, .about-section a::selection, .about-section li::selection {
    background-color: #3d3d3d;
    color: whitesmoke;
}

.content-wrapper {
    position: relative;
    background-image: url('resources/Asset 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 100px);
}

.about-section {
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(255, 254, 249);
    box-shadow: -10px 0 10px -5px rgba(0,0,0,0.2), 10px 0 10px -5px rgba(0,0,0,0.2);
}

/* Donate Section */
.donate-main {
    background-image: url('resources/2148765183.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.donate-section {
    background-color: rgba(0, 0, 0, 0.599);
    padding: 50px;
    text-align: center;
    align-items: center;
}

.donate-section h2 {
    font-size: 28px;
    color: rgb(216, 216, 216);
    margin-bottom: 20px;
}

.cp {
    font-size: 16px;
    line-height: 1.6;
    color: #e6e6e6;
    margin-bottom: 30px;
    font-weight: 400;
}

.donation-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.donation-option {
    height: 72px;
    background-color: rgba(249, 249, 249, 0.41);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.donation-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(249, 249, 249, 0.512);
}

.donation-option h3 {
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #101010;
}

.donation-option h3 img {
    height: 30px;
    margin-right: 10px;
}

.d2 h3 img {
    height: 27px;
}

.donation-option h3 span {
    font-weight: normal;
    white-space: nowrap;
}

.donate-section h2::selection, .donate-section span::selection, .donate-section img::selection, .donate-section p::selection, .donate-section h3::selection, .donate-section br::selection {
    background-color:#e6e6e6;
    color: #1d1d1d;
}

.net-banking-option {
    background-color: rgba(249, 249, 249, 0.512);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    justify-content: center;
    align-content: center;
}

.net-banking-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.275);
}

.net-banking-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.net-banking-header h3 {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
}

.net-banking-header h3 img {
    height: 30px;
    margin-right: 10px;
}

.bank-info-container {
    display: flex;
    justify-content: center;
    text-align: left;
}

.bank-info {
    font-size: 15px;
    color: #101010;
    margin-bottom: 10px;
}

.bi {
    color: #101010;
    font-size: 17px;
}

/* Volunteer Section */
.volunteer-section, .hero-section {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 0 20px;
}

.volunteer-section h2, .hero-section h1 {
    font-size: 28px;
    color: #8B0000;
    margin-bottom: 20px;
}

.volunteer-section h3 {
    font-size: 20px;
    color: #8B0000;
    margin-bottom: 20px;
}

.volunteer-section p, .hero-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    font-weight: 400;
}

.volunteer-section ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.volunteer-section li {
    font-size: 18px;
    margin-bottom: 10px;
}

.volunteer-section .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.volunteer-section .btn:hover {
    background-color: #e65c3e;
}

/* Other Ways Section */
.other-ways {
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-ways h2 {
    font-size: 28px;
    color: #8B0000;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.other-ways p {
    text-align: justify;
}

.option {
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.option img {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.option h3 {
    font-size: 20px;
    color: #8B0000;
    margin-bottom: 10px;
}

.option p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.option .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option .btn:hover {
    background-color: #e65c3e;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .other-ways {
        flex-direction: column;
        align-items: center;
    }
    
    .option {
        width: 80%;
    }
}

/* Volunteer Form */
#volunteer-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}

#volunteer-form h2 {
    font-size: 28px;
    color: #8B0000;
    text-align: center;
    margin-bottom: 20px;
}

.other-ways #fic {
    height: 60px;
}

#volunteer-form form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #8B0000;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

#volunteer-form .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

#volunteer-form .btn:hover {
    background-color: #e65c3e;
}

/* Hero Section */
#hri {
    height: 200px;
    width: auto;
}

.hero {
    background-image: url('resources/kitten-puppy.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
}

.hero-content {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    text-align: center;
}

.hero-content h1 {
    font-size: 44px;
    color: #8B0000;
    margin-bottom: 8px;
}
 
 .hero-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 220px;
    font-weight: 500;
 }
 
 .hero-content button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 13px 21px;
    background-color: #fc5335;
    color: #fff;
    border: 2px solid #fc5335;
    border-radius: 22px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    border-width: 2px;
    border: 2px solid #fc5335;
    background-color: #ffffffce;
    color: #fc5335;
 }
 
 /* Featured Pets */
 .featured-pets {
    padding: 40px;
    text-align: center;
 }
 
 .featured-pets h2 {
    font-size: 28px;
    color: #8B0000;
    margin-bottom: 30px;
 }
 
 .pet-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 .pet-card {
    width: 320px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    margin: 20px;
    align-items: center;
    justify-content: center;
 }
 
 .pet-card:hover {
    transform: translateY(-5px);
 }
 
 .pet-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
 }
 
 .pet-card h3 {
    font-size: 20px;
    color: #8B0000;
    margin: 10px;
 }
 
 .pet-card p {
    font-size: 17px;
    color: #333;
    margin: 0 10px 10px;
 }
 
 .adopt-btn {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    transition: background-color 0.3s;
 }
 
 .adopt-btn:hover {
    background-color: #e65c3e;
 }
 
 /* Pet Care Products */
 .pet-care-products {
    padding: 40px;
    text-align: center;
 }
 
 .pet-care-products h2 {
    font-size: 28px;
    color: #8B0000;
    margin-bottom: 30px;
 }
 
 .product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 .product-card {
    width: 320px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    margin: 20px;
 }
 
 .product-card:hover {
    transform: translateY(-5px);
 }
 
 .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 
 .product-card h3 {
    font-size: 20px;
    color: #8B0000;
    margin: 10px;
 }
 
 .product-card p {
    font-size: 17px;
    color: #333;
    margin: 0 10px 10px;
 }
 
 .buy-btn {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    transition: background-color 0.3s;
 }
 
 .buy-btn:hover {
    background-color: #e65c3e;
 }
 
 /* Success Stories */
 .success-stories {
    padding: 40px;
    text-align: center;
 }
 
 .success-stories h2 {
    font-size: 28px;
    color: #8B0000;
    margin-bottom: 30px;
 }
 
 .story-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 .story-card {
    width: 320px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    margin: 20px;
 }
 
 .story-card:hover {
    transform: translateY(-5px);
 }
 
 .story-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 
 .story-card h3 {
    font-size: 20px;
    color: #8B0000;
    margin: 10px;
 }
 
 .story-card p {
    font-size: 17px;
    color: #333;
    margin: 0 10px 10px;
 }
 
 .read-more {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    transition: background-color 0.3s;
 }
 
 .read-more:hover {
    background-color: #e65c3e;
 }
 
 /* Call to Action */
 .cta {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
 }
 
 .cta-content h2 {
    font-size: 28px;
    color: #8B0000;
    margin-bottom: 20px;
 }
 
 .cta-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
 }
 
 .cta-content button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 13px 21px;
    background-color: #fc5335;
    color: #fff;
    border: 2px solid #fc5335;
    border-radius: 26px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.cta-content button:hover {
    border-width: 2px;
    border: 2px solid #fc5335;
    background-color: #ffffffce;
    color: #fc5335;
 }