* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

/* Header */
header {
    background-color: wheat;
    padding: 17px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section img::selection {
    background-color: whitesmoke;
}

.logo-section {
    display: flex;
    align-items: center;
}

#paw {
    width: 60px;
    margin-right: 10px;
}

#paw2 {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

nav ul li:hover {
    transform: scale(1.01); /* Increase the scale by 1% */
    align-items: center;
}

nav ul li a {
    font-size: 17px;
    color: #b73100 ;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a::selection, .dropdown-link img::selection {
    background-color: #3d3d3d;
    color: whitesmoke;
}

nav ul li a:hover {
    color: #392C6B;
}

.logo-section {
    display: flex;
    transition: transform 0.2s ease;
}

.logo-section:hover {
    transform: scale(1.01); /* Increase the scale by 1% */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(255, 238, 208); /* Match the navbar's background color */
    right: 0; /* Align to the bottom left of the button */
}

.dropdown-content a {
    color: #b73100; /* Match the navbar link color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-link img {
    transition: transform 0.15s;/* Add transition for smooth effect */
}

.dropdown-link:hover img, .dropdown:hover .dropdown-link img {
    transform: rotate(180deg);
    filter: saturate(0%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #b73100;
    font-size: 17px;
    font-weight: bold;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    /* Add down arrow icon */
    /* background-image: url('down.png');
    background-position: right 10px center; /* Adjusted position */
    /* background-repeat: no-repeat;  */
}

.dropdown:hover .dropbtn {
    color: #392C6B; 
}

nav ul li img {
    height: 20px;
    vertical-align: middle;
}
/* Media query to adjust dropdown position or size on smaller screens */
@media (max-width: 600px) {
    .dropdown-content {
        min-width: 100px; /* Adjust width for smaller screens */
        /* Additional adjustments as needed */
    }
}

/* Hero section */
.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8B0000;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Featured pets section */
.featured-pets {
    padding: 50px;
    text-align: center;
}

/* Pet care section */
.pet-care {
    padding: 50px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #414141;
    color: #D9D9D9;
    padding: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    width: max-contents;
    align-self: center;
    gap: 60px;
}

.footer-links ul a::selection, .footer-links p::selection, .contact p::selection, .contact ul li::selection, .credits p::selection {
    background-color: whitesmoke;
    color: #777;
}

.footer-links p, .contact p {
    font-size: 18px;
    color: white;
}

.footer-links ul, .contact ul {
    font-weight: normal;
    list-style: none;
    font-size: 15px;
}

.footer-links ul a:hover {
    color: white;
} 

.footer-links {
    width: max-content;
}

.link {
    color: #D9D9D9;
    text-decoration: none;
}

#ftline {
    color: #F9F7F3;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 10px;
}

.credits {
    margin-top: 10px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
}